<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Innovation Depot</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <global-alert></global-alert>
    <plat-viewport></plat-viewport>
    <script src="/main.js"></script>
</body>
</html>