<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogstarter</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <plat-viewport class="top-viewport"></plat-viewport>
    <script src="/main.js"></script>
</body>
</html>