& {
	#platui > #mixins;
	
	[plat-control="managepost-vc"] {
		background-color: @white;
	}
	
	.blog-title-row {
		height: 4em;
		width: 100%;
		background-color: @white;
		.flexbox();
		.justify-content(space-between);
		
		& > .blog-title-input {
			height: 100%;
			font-size: 1.5em;
			outline: none;
			border-width: 0;
		}
		
		& > .blog-title-controls {
			height: 100%;
			.flex-vertical-center();
			
			& > .blog-title-control {
				outline: none;
				border-width: 0;
				background-color: transparent;
				
				& > i.fa {
					color: @text-control-grey;
					font-size: 2em;
				}
			}
		}
	}
	
	.manage-blog-container {
		.flexbox();
		.flex-direction(column);
		.align-content(stretch);
		height: 100%;
		min-height: 100vh;
	}
	
	// Override custom quill styles
	.blog-quill-editor {
		outline: none;	
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}