
& {
    #platui > #mixins;
    
    /// Dashboard Container
    .dashboard-container {
        .flexbox();
        height: 100%;
        background-color: @off-white;
    }
    
    .sidebar {
        width: 20em;
    }

    .dashboard {
        height: auto;
        .container();
        padding-top: 1em;
        overflow-y: auto;
        overflow-x: hidden;
        
        .dashboard-button-row {
            margin-bottom: 1em;
        }
    }
}
    