@import '../common/variables';

/// Layout

.container {
	padding: 0 @container-horizontal;	
}

.background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.backgroundHexToRGBA(@hex, @alpha) {
	background-color: rgba(red(@hex), green(@hex), blue(@hex), @alpha);
}