/// Height/Widths
@navbar-height: 3.2em;
@container-horizontal: 1em;
@dashboard-margin: 1em;
@dashboard-radius: 4px;

/// Colors
@expanse: #535766;
@white: #ffffff;
@sea-green: #4ca594;
@light-grey: #cccccc;
@off-white: #f0f0f0;
@white: #ffffff;
@red: #dd4d4e;