/// Height/Widths
@navbar-height: 3.2em;
@container-horizontal: 1em;
@dashboard-margin: 1em;
@toolbar-height: 3em;
@dashboard-radius: 4px;

/// Colors
@expanse: #535766;
@white: #ffffff;
@sea-green: #4ca594;
@light-grey: #cccccc;
@off-white: #ededed;
@white: #ffffff;
@red: #dd4d4e;
@blue: #3fa5d1;

/// Functional Colors
@font-color: #676767;

/// Dark Mode Colors
@darkmode-background: #343c47;
@darkmode-background-offset: lighten(@darkmode-background, 10%);
@darkmode-green: #13bc96;
@darkmode-text: #bbbbbb;
