@import '../common/variables';
@import '../common/mixins';
@import (reference) '../../../node_modules/platypusui/platypus';

& { 
    /// Dashboard Container
    .dashboard-container {
        height: 100%;
        background-color: @off-white;
        border-radius: @dashboard-radius;
        border-top-left-radius: @dashboard-radius + 1px;
        border-top-right-radius: @dashboard-radius + 1px;
    }

    .dashboard {
        height: auto;
        .container();
        padding-top: 1em;
        overflow-y: auto;
        overflow-x: hidden;
        
        .dashboard-button-row {
            margin-bottom: 1em;
        }
    }

    /// Blog Editor
}