@import '../common/variables';
@import '../common/mixins';

// ======== Global Style Resets/Defaults ==========

html, body {
    height: 100%;
    box-sizing: border-box;
    color: @font-color;
}

*, *:before, *:after {
    box-sizing: inherit;
}

[plat-control="plat-viewport"] > [plat-control="admin-vc"] {
    padding: @dashboard-margin @container-horizontal 0;
}
