@import '../common/variables';
@import '../common/mixins';

& { 
    #platui > #mixins;

    /// Public Pages
    
    .top-viewport {
        height: 100%;
    }
    
    .plat-viewcontrol {
        height: auto;
    }
    
    .blog-viewport {
        padding: 1em;
        
        & > .plat-viewcontrol {
            background-color: @white;
            padding: 1em;
        }
    }
}