@import '../common/variables';
@import '../common/mixins';

& {
    .red-text {
        color: @red !important;
    }

    .green-text {
        color: @sea-green !important;
    }

    .blue-text {
        color: @blue !important;
    }
}