@import '../common/variables';
@import '../common/mixins';

& {
    #platui > #mixins;

	@primary: @darkmode-blue;
	@unfilled: @white;
	@knob-color: @black;
	
	/// ====== Plat-Slider Overrides ======
	
	@knob-diameter: 1.3em;
	
	.plat-slider {
		.plat-slider-container {
			background-color: @unfilled;
			border: 2px solid @black;
			height: 0.6em!important;
			box-shadow: none;
	
			.plat-slider-track {
				.plat-knob {
					top: 1px;
					height: @knob-diameter;
					width: @knob-diameter;
					background-color: @white;
					border-width: 2px;
					border-color: @knob-color;
				}
			}
		}
	}
	
	.plat-slider-unfilled {
		.plat-slider-container {
			.plat-slider-track {
				background-color: transparent;
			}
		}
	}
	
	.plat-slider.slider-primary {
		.plat-slider-container {
			.plat-slider-track {
				background-color: @black;
				box-shadow: none;
			}
		}
	}
}