/// Height/Widths
@navbar-height: 4.5em;
@container-horizontal: 1em;
@toolbar-height: 3em;
@dashboard-radius: 4px;

/// Colors

/// Expanse
@expanse: #535766;
@expanse-dark: darken(@expanse, 5%);
@expanse-light: lighten(@expanse, 5%);

@white: #ffffff;
@sea-green: #4ca594;
@light-grey: #cccccc;
@off-white: #ededed;
@white: #ffffff;
@red: #dd4d4e;
@blue: #3fa5d1;

/// Functional Colors
@font-color: #676767;
@navbar-link: #aaaaaa;

/// Dark Mode Colors
@darkmode-background: #343c47;
@darkmode-background-offset: lighten(@darkmode-background, 10%);
@darkmode-blue: lighten(desaturate(@blue, 15%), 5%);
@darkmode-green: #13bc96;
@darkmode-text: #bbbbbb;
@darkmode-border-1: lighten(@darkmode-background, 7%);
@darkmode-border-2: darken(@darkmode-background, 6%);
